.card {
  width: 298px;
  height: 278px;
  padding-top: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.subCard {
  width: 298px;
  height: 262px;
  padding: 24px;
  background-color: white;
  border-radius: 10px;
}
.gridContainer {
  display: flex;
  //   grid-template-columns: auto auto auto auto;
  flex-direction: row;
}
.item2 {
  padding-left: 12px;
  padding-right: 88px;
}
.item3 {
  width: 40px;
  height: 24px;
}
.hour {
  border-radius: 18px;
  text-align: center;
  background-color: rgba(188, 234, 255, 1);
  color: rgba(53, 93, 255, 1);
}
.coinName {
  font-family: Poppins !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.coinShortName {
  font-family: Inter !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.contain {
  display: flex;
  flex-direction: row;
}
.price {
  width: 150px;
  height: 32px;
  font-family: Poppins !important;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.pl {
  width: 74px;
  height: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: green;
  padding-left: 26px;
}
.chart {
  margin-top: 12px;
  width: 251px;
  height: 72px;
}
.divider {
  color: rgba(228, 228, 228, 1);
  height: 1px;
}
