.header {
  // width: 1600;
  // height: 96px;
  // margin-left: 64px;
  // margin-right: 64px;
  // padding-top: 40px;
  // display: flex;
  // flex-direction: row;

  // width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // padding: 0 1rem;
  // margin-left: 64px;
  // margin-right: 64px;
  // position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: calc(100vw - 256px);
  height: 96px; /* Set an appropriate height */
  // padding: 0 24px; /* Add padding as needed */
  background-color: #fff;
  padding: 48px 64px 0px 64px;
  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .inputSearch {
      min-width: 210px;
      height: 24px;
      border: medium none;
      border-radius: 50px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.ant-select {
  margin-left: 40px;
  margin-right: 36px;
}
.profile {
  display: flex;
  flex-direction: row;
}
